/* =========================
   public/fonts
========================= */
@font-face {
    font-family: "mulmaru";
    src: url(../assets/Fonts/Mulmaru.ttf) format("truetype");
}
@font-face {
    font-family: "PretendardVariable";
    src: url(../assets/Fonts/PretendardVariable.ttf);
}
/* =========================
   CSS Reset / Init Style
========================= */

*,
*::before,
*::after {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 리스트 점/숫자 제거 */
ul,
ol,
li {
    list-style: none;
}

/* 링크 기본 스타일 제거 */
a {
    text-decoration: none;
    color: inherit;
}

/* 이미지 정렬 문제 방지 */
img {
    display: block;
    max-width: 100%;
}

/* 버튼 기본 스타일 제거 */
button {
    border: none;
    background: none;
    cursor: pointer;
}

/* input 기본 outline 정리 */
input,
textarea,
select,
button {
    font: inherit;
    outline: none;
}

/* body 기본 설정 */
body {
    line-height: 1;
    font-family: "PretendardVariable";
    color: #222;
}

/* 테이블 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.icon path {
  fill: var(--icon-color) !important;
}
/* wrap */
#wrapper{
    display: block;
    position : relative;
    width: 100%;
    height: 100vh;
    background : var(--wrapper-background)
}
#flexWrap{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 64px); /* 12+52 */

    
}
.flexContainer{
    display: flex;
    flex-direction: column;
    margin: 10px 8px;
    padding : 10px 16px;
    position: relative;
    width : 50%;
    background: var(--wrap-children);
    border-radius: 12px;
}
.areaHeader{
    grid-row-start: 1;
    grid-column-start: 1;
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
    height : 45px;
    min-height: 45px;
    color : var(--header-color);
    gap : 10px;
    align-items : center; /*세로축*/
    /* align-content :center; */
    justify-content: flex-start;
}
* .areaHeader>.headerText{
    font-family: "mulmaru", sans-serif !important;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}
.pre {
    position: relative;
    letter-spacing: -1px;
    opacity: 50%;
    z-index: 2;
    filter: blur(0.5px);
}

.logue {
    position: relative;
    color: transparent; /* 원본 숨김 */
}
.logue::after {
    content: "logue";
    position: absolute;
    left: -2px;
    top: 0;
    color : var(--header-color);
    pointer-events: none;
    z-index: 1;
}

/* professor */
#ProfessorPageInfo{
    margin-bottom: 15px;
    color: #666;
}

#ProfessorViewer{
    border: var(--professor-bd);
    height: 500px;
    border-radius: 12px;
    padding : 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

/* ===========================
   button group
=========================== */
.noteButtonGroup,
.professorButtonGroup{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;
    margin-bottom: 15px;
}

/* ===========================
   button 공통
=========================== */
#flexWrap button{
    width: 50px;
    cursor: pointer;
}
#flexWrap button, .pageCount{
    min-height: 30px;

    display:flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 10px;

    background: #f4f4f4;
    color: #333;

    font-size: 14px;
    font-weight: 600;

    transition:
        background 0.2s ease,
        opacity 0.2s ease,
        transform 0.15s ease;
}
.pageCount { padding : 0px 10px; font-size: 12px; }
#flexWrap button:hover:not(:disabled){
    background: #e6e6e6;
}

#flexWrap button:active:not(:disabled){
    transform: scale(0.98);
}

#flexWrap button:disabled{
    opacity: 0.4;
    cursor: default;
}

/* navi button */
.navButton{
    color : var(--nav-btn);
}

/* undo button */
.undoBtn{
    background: #4da3ff;
    color: white;
}

.undoBtn:hover:not(:disabled){
    background: #2d8fff;
}

/* commit button */
.commitBtn{
    background: #ff4d65;
    color: white;
}

.commitBtn:hover:not(:disabled){
    background: #ff3550;
}

/* professor slot */
.professorNavWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 20px;
}

/* 좌우 버튼 */
#flexWrap .navArrow {
    width: 60px;
    font-size: 30px;
    aspect-ratio: 1/1;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    
}

/* 스크롤 영역 */
.professorSlot {
    display: flex;
    gap: 20px;

    width: 100%;
    min-width: 0;
    /* width: calc((100% - 50px) / 5);; */
    overflow-x: scroll; /* 또는 auto */
    

    scroll-snap-type: x mandatory;
}
.professorSlot::-webkit-scrollbar {
    display: none; /* Chrome 숨김 */
}
/* note slot */
.noteSlot{
    display: flex;
    gap: 10px;

    margin-bottom: 8px;
}
#flexWrap .n button{
    width: 70px;
}

/* slot 공통 양식 */
.noteSlot .slot{
    flex: 0 0 calc((100% - 50px) / 5);
}
.professorSlot .slot{
    flex: 0 0 calc((100% - 240px) / 12);
}
.slot{    
    width: var(--slot-width);
    height: var(--slot-height);
    aspect-ratio: var(--slot-ratio);
    border: var(--slot--bd);
    border-radius: 8%;

    color:var(--slot-color);

    display: flex;
    flex-direction: column;

    padding: 0px 15px;

    justify-content: center;
    align-items: center;

    background: var(--slot--bg);

    cursor: pointer;

    transition: 0.8s;

    scroll-snap-align: center;

    box-shadow: var(--box-shadow);

}

.slot.disabled{
    opacity: 0.2;
    cursor: default;
}

.slot.active{
    /* background: #d8ecff;
    border-color: #28435a; */
}

.slot.isPending{
    pointer-events: none;
    opacity: 0.5;
}

.slot.dragOver{
    opacity: 0.45;
}


.slot .PDFPreview{
    text-align: center;
    /* border: var(--slot-border); */
    color : var(--slot-color);
    width: 100%;
    aspect-ratio: 1/1.4;
    border-radius: 8%;
    
    margin-bottom: 10px;
}

.slot .PDFPageInfo{
    width: 100%;
    display : flex;
    position: relative;
    text-align: center;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    font-size : 12px;
    font-weight: bold;
    color : var(--slot-color);
}

.slot .PDFPageInfo.active::after{
    content: "●";
    font-size: 0.5rem;
    position: absolute;
    width: 100%;
    transform: translateY(14px);
    text-shadow:
    2px 0 2px rgba(245, 245, 245, 0.5),
    -2px 0 2px rgba(245, 245, 245, 0.5),
    0 2px 2px rgba(245, 245, 245, 0.5),
    0 -2px 2px rgba(245, 245, 245, 0.5);
}
#ProfessorEditNavi{
    display: flex;
    flex-direction: row;
    width: 95%;
    /* background : red; */
    justify-content:space-between;
    align-items : center;
    margin-top: 10px;
    /* padding : 0 5%; */
}

#ProfessorEditNavi button{
    width: 2em;
    aspect-ratio: 1/0.5;
    border-radius: 50%;
}
.spacer{
    width: 30%;
}
.ContentLogo div{
    border-radius: 20%;
}
.fullScreenLogo div{
    border-radius: 30%;
}
.ContentLogo, .fullScreenLogo, .additionalInfo{
    position: relative;
    display:grid;
    width: 18px;
    height: 18px;
    pointer-events: none;
}
.ContentLogo{
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3,auto);
    gap : 5%;
}
.ContentLogo div, .fullScreenLogo div{
    border: 1px solid rgba(0,0,0,0.60);
    background: rgba(0,0,0,0.02);
}

.fullScreenLogo {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.fullScreenLogo div:nth-child(1), .fullScreenLogo div:nth-child(3){
    border-bottom : 1px solid transparent;
}
.fullScreenLogo div:nth-child(7), .fullScreenLogo div:nth-child(9){
    border-top : 1px solid transparent;
}
.fullScreenLogo div:nth-child(3), .fullScreenLogo div:nth-child(9){
    border-left : 1px solid transparent;
}
.fullScreenLogo div:nth-child(1), .fullScreenLogo div:nth-child(7){
    border-right : 1px solid transparent;
}
.fullScreenLogo div:nth-child(2), .fullScreenLogo div:nth-child(4),
.fullScreenLogo div:nth-child(5), .fullScreenLogo div:nth-child(6),
.fullScreenLogo div:nth-child(8) {
    border : 1px solid transparent;
}

.additionalInfo{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,33%);
}
.additionalInfo div{
    width : 100%;
    height : 100%;
}

.additionalInfo div::after{
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    margin : auto;
    transform: translateY(+50%);
    background: rgba(0,0,0,0.60);
    border-radius: 50%;
}

#PDFScreen{
    background: var(--screen-bg);

    flex: 1;
    min-width: 0;
    width: 100%;

    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 12px;
    margin-bottom: 20px;

    border-radius: 3%;
}

.slot .noteCount{
    background: var();
    padding: 2px 4px;
    border: var(--slot-border);
    /* color : var(--slot-color); */
    border-radius: 12px;
    font-size: 8px;
}

/* noteEditor */
#NoteEditor{
    width: 100%;
    height: 60%;
}

/* 공통 하단 버튼 */

.bottomNarrow {
    width: calc(100% - 32px); /* 패딩값이 16. */
    display : flex;
    justify-content: space-between;
    position: absolute;
    bottom : 0px;
}

#flexWrap .p .bottomNarrow button{
    width : 70px;
}

.react-pdf__Document{
    width: 100%;
    display:flex;
    justify-content:center;
}

.react-pdf__Page{
    max-width:100%;
    overflow: hidden !important;
}

.react-pdf__Page canvas{
    display:block;

    max-width:100%;
    width:100% !important;

    height:auto !important;
}